rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /recetas/{recetaId} {
      allow read, write: if request.auth != null
                         && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null
                    && request.auth.uid == request.resource.data.userId;
    }

    match /calendario/{calendarioId} {
      allow read, write: if request.auth != null
                         && calendarioId.matches(request.auth.uid + '_.*');
    }

    match /ingredientes_usuario/{ingredienteId} {
      allow read, write: if request.auth != null
                         && resource.data.userId == request.auth.uid;
      allow create: if request.auth != null
                    && request.resource.data.userId == request.auth.uid;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}