<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.david.recetapp">

    <!-- Without this folders will be inaccessible in Android-11 and above devices -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- Without this entry storage-permission entry will not be visible under app-info permissions list Android-10 and below -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" />

    <!-- Without this entry the folders will remain in-accessible in Android-10, even if WRITE_EXTERNAL_STORAGE as above is present. -->
    <application
        android:icon="@mipmap/icono_app_round"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecetApp">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.david.recetapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".actividades.AddRecetasActivity" />
        <activity android:name=".actividades.VerRecetasActivity" />
        <activity android:name=".actividades.EditarRecetaActivity" />
        <activity android:name=".actividades.ImportExportActivity" />
        <activity android:name=".actividades.CalendarioActivity" />
        <activity android:name=".actividades.DetalleDiaActivity" />
        <activity android:name=".actividades.AddRecetaDiaActivity" />
        <activity android:name=".actividades.ListaCompraActivity" />
        <activity android:name=".actividades.NotasActivity" />
    </application>

</manifest>